#versusDiv {
  margin: auto;
  width: 100%;
  align-content: center;
  height: 10px; 
}

#player1 {
 
  display: block;
  float: left;
  width: 49%;
  text-align: center;
  
}

#vs {
 
  float: left;
  
}

#player2 {
  display: block;
  float: left;
  text-align: center;
  width: 48%;
}

#windmill {
  
  width: 400px;
  height: 400px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  
}

#windmill > div {
  width: 300px;
  height: 300px;
  border-color: #000;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-width: 2px;
}

#windmill > div > div {
 
  width: 200px;
  height: 200px;
  border-color: #000;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-width: 2px;
  
}

h1 {
 
  text-align: center;
  
}

.spot {
  width: 40px;
  height: 40px;
  border-style: solid;
  border-radius: 100px;
  position: absolute;
  border-width: 1px;
  background: white; 
}

#spot1 {
  margin-left: -20px;
  margin-top: -20px;
}

#spot2 {
  margin-left: 180px;
  margin-top: -20px; 
}

#spot3 {
  margin-left: 380px;
  margin-top: -20px; 
}

#spot4 {
  margin-left: 30px;
  margin-top: 30px; 
}
#spot5 {
  margin-left: 180px;
  margin-top: 30px; 
}
#spot6 {
  margin-left: 330px;
  margin-top: 30px; 
}
#spot7 {
  margin-left: 80px;
  margin-top: 80px; 
}
#spot8 {
  margin-left: 180px;
  margin-top: 80px; 
}
#spot9 {
  margin-left: 280px;
  margin-top: 80px; 
}
#spot10 {
  margin-left: -20px;
  margin-top: 180px; 
}
#spot11 {
  margin-left: 30px;
  margin-top: 180px; 
}
#spot12 {
  margin-left: 80px;
  margin-top: 180px; 
}
#spot13 {
  margin-left: 280px;
  margin-top: 180px; 
}
#spot14 {
  margin-left: 330px;
  margin-top: 180px; 
}
#spot15 {
  margin-left: 380px;
  margin-top: 180px; 
}
#spot16 {
  margin-left: 80px;
  margin-top: 280px; 
}
#spot17 {
  margin-left: 180px;
  margin-top: 280px; 
}
#spot18 {
  margin-left: 280px;
  margin-top: 280px; 
}
#spot19 {
  margin-left: 30px;
  margin-top: 330px; 
}
#spot20 {
  margin-left: 180px;
  margin-top: 330px; 
}
#spot21 {
  margin-left: 330px;
  margin-top: 330px; 
}
#spot22 {
  margin-left: -20px;
  margin-top: 380px; 
}
#spot23 {
  margin-left: 180px;
  margin-top: 380px; 
}

#spot24 {
  margin-left: 380px;
  margin-top: 380px; 
}

#joinBox {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  position: relative;
  width: 250px;
}

#joinBox > button {
  width: 30%;
}

#line1 {
  width: 94px;
  height: 0px;
  border-color: black;
  border-style: solid;
  position: absolute;
  margin-top: 200px;
  z-index: -1;
  border-width: 1px;   
}

#line2 {
  width: 0px;
  height: 94px;
  border-color: black;
  border-style: solid;
  position: absolute;
  margin-left: 200px;
  z-index: -1;
  border-width: 1px;
}

#line3 {
  width: 94px;
  height: 0px;
  border-color: black;
  border-style: solid;
  position: absolute;
  margin-top: 200px;
  margin-left: 300px;
  z-index: -1;
  border-width: 1px;
}

#line4 {
  width: 0px;
  height: 94px;
  border-color: black;
  border-style: solid;
  position: absolute;
  margin-left: 200px;
  margin-top: 300px;
  z-index: -1;
  border-width: 1px;
}